<header>
    <h1>_____________________________________________________________</h1>
</header>
<main>
    <section class="hero" style="background-image: url('assets/images/design.jpg'); background-repeat: no-repeat;">
        <h2 style="font-size: 46px;">Design Your Dream Kitchen</h2>
    </section>
    <header>
        <h1>_____________________________________________________________</h1>
    </header>
    <section class="designs">
        <h2>Kitchen Design Ideas:</h2>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen1.jpg" alt="Modern Kitchen">
                <p>Modern Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen3.jpg" alt="Traditional Kitchen">
                <p>Traditional Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen6.jpg" alt="Rustic Kitchen">
                <p>Rustic Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen7.jpg" alt="Minimalist Kitchen">
                <p>Minimalist Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen2.jpg" alt="Industrial Kitchen">
                <p>Industrial Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen4.jpg" alt="Simple Kitchen">
                <p>Simple Kitchen</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\kitchen7.jpg" alt="Kitchen">
                <p>Kitchen</p>
            </a>
        </div>
    </section>
</main>
