<body>
    <header>
        <h1>_____________________________________________________________</h1>
    </header>
    <main>
        <section class="hero" style="background-image: url('assets/images/design.jpg'); background-repeat: no-repeat;">
            <h2 style="font-size: 46px;">Design Your Dream Bedroom</h2>
        </section>
        <header>
            <h1>_____________________________________________________________</h1>
        </header>
        <section class="designs">
            <h2>Bedroom Design Ideas:</h2>
            <div class="design-item">
                <a routerLink="/bedroom-info">
                    <img src="assets\images\bed1.jpg" alt="Modern Bedroom">
                    <p>Modern Bedroom</p>
                </a>

            </div>
            <div class="design-item">
                <a href="/bedroom-info">
                    <img src="assets\images\bed2.jpg" alt="Traditional Bedroom">
                    <p>Traditional Bedroom</p>
                </a>
            </div>
            <div class="design-item">
                <a href="/bedroom-info">
                    <img src="assets\images\bed3.jpg" alt="Rustic Bedroom">
                    <p>Rustic Bedroom</p>
                </a>
            </div>
            <div class="design-item">
                <a href="/bedroom-info">
                    <img src="assets\images\bed4.jpg" alt="Minimalist Bedroom">
                    <p>Minimalist Bedroom</p>
                </a>
            </div>
            <div class="design-item">
                <a href="/bedroom-info">
                    <img src="assets\images\bed6.jpeg" alt="Bedroom">
                    <p>Bedroom</p>
                </a>
            </div>
        </section>
     
        <section class="information">
            <h2>Bedroom Information:</h2>
            <p>This beautiful bedroom features a king-size bed, a spacious walk-in closet, and a private balcony. The color scheme is a calming blend of blue and gray, and the lighting is soft and inviting. The furniture is made of high-quality materials and is designed to last for years to come.</p>
            <a href="#">Shop the Look</a>
        </section>
  
        <section class="ratings" >
            <h2>Ratings & Reviews:</h2>
            <p>Average Rating: 4.5 stars</p>
            <p>
                "This is my dream bedroom come true! The design is stunning and the furniture is very comfortable." - John Doe
            </p>
        </section>
    </main>
</body>