
<header>
    <h1>_____________________________________________________________</h1>
</header>
<main>
    <section class="hero" style="background-image: url('assets/images/design.jpg'); background-repeat: no-repeat;">
        <h2 style="font-size: 46px;">Design Your Dream Dining Room</h2>
    </section>
    <header>
        <h1>_____________________________________________________________</h1>
    </header>
    <section class="designs">
        <h2>Dining Room Design Ideas:</h2>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning1.jpeg" alt="Modern Dining Room">
                <p>Modern Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning2.jpeg" alt="Traditional Dining Room">
                <p>Traditional Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning3.jpeg" alt="Rustic Dining Room">
                <p>Rustic Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning4.jpeg" alt="Minimalist Dining Room">
                <p>Minimalist Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning5.jpeg" alt="Industrial Dining Room">
                <p>Industrial Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning6.jpeg" alt="Simple Dining Room">
                <p>Simple Dining Room</p>
            </a>
        </div>
        <div class="design-item">
            <a href="#">
                <img src="assets\images\dinning7.jpeg" alt="Dining Room">
                <p> Dining Room</p>
            </a>
        </div>
    </section>
</main>
